<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uiCookies:Pixels — Free Bootstrap Theme, Free Responsive Bootstrap Website Template</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- START: header -->

    <div class="probootstrap-loader" style="display: none;"></div>

    <!-- END: header -->
    <div class="probootstrap-main-content">




        <section class="probootstrap-half">
            <div class="image-wrap">
                <div class="image" style="background-image: url(img/slider_2.jpg);"></div>
            </div>
            <div class="text">
                <h3 class="mt0 mb40">What We Do</h3>
                <div class="row mb20">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="service-item">
                            <span class="number">1</span>
                            <h4 class="mt0">Events</h4>
                            <p>The first event was “face of Vadodara “ organised in Gujarat in the year 2017. It was a star studded event which bagged a huge appreciation. Now, we aim to spread our wings in the whole nation</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="service-item">
                            <span class="number">2</span>
                            <h4 class="mt0">Vision</h4>
                            <p>After a grand success of “Face of Vadodara 2k17”judged by Mr. World 2016, Rohit Khandelwal, Bigg Boss 9 fame/ Bollywood fashion designer, Kawaljit singh and Miss Globe, Parul Mishra we aim to organise more events at national
                                and international level</p>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="service-item">
                            <span class="number">3</span>
                            <h4 class="mt0">Motive</h4>
                            <p>Our motive is to provide the younger generation of India a platform where they can grow personally and bring positive changes in the society.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="service-item">
                            <span class="number">4</span>
                            <h4 class="mt0">Women Empowerment</h4>
                            <p>We not only talk about women empowerment but give the women of India an opportunity to come out of and live their dreams through our events.</p>
                        </div>
                    </div>
                </div>
                <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">See All Our Services</a></p>
            </div>
        </section>


    </div>


    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
    </div>


    <script src="js/scripts.min.js"></script>
    <script src="js/main.min.js"></script>
    <script src="js/custom.js"></script>


</body>

</html>